
<ion-content class="ion-padding" color="dark">
  <div class="form-slide" style="text-align: center;">
    <img src="assets/logo.png" alt="DriverMe Logo" class="logo-image" />

    <h3 class="title">Ingresa tu Número Telefónico</h3>
    <form #formulario="ngForm" (ngSubmit)="onPhoneSubmit()">
      <ion-item lines="none">
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-input
          label="Número Telefónico"
          required
          type="tel"
          pattern="[0-9]{10}"
          labelPlacement="floating"
          [(ngModel)]="usr.phoneNumber"
          name="phoneNumber"
          placeholder="1234567890">
        </ion-input>
      </ion-item>
      <ion-button expand="block" fill="outline" color="success" [disabled]="formulario.invalid" type="submit">
        Ingresar
      </ion-button>
    </form>
    
    <ion-item lines="none">
      <p>¿No tienes una cuenta? <a routerLink="/register"> Regístrate</a></p>
    </ion-item>
  </div>
</ion-content>
