@import "~leaflet/dist/leaflet.css";

body {
    background-color: #ccdae8 !important;  
}

ion-app {
    background-color: #ebeced!important;  
}

ion-content {
    --background: #001F3F!important;  
}

