<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="" icon="arrow-back-outline" style="color: black;"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Crear Cuenta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form #registerForm="ngForm" (ngSubmit)="onRegisterSubmit()">
        <ion-item>
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-input type="tel" required pattern="^[0-9]{11}$" [(ngModel)]="registerData.phoneNumber" name="phoneNumber" placeholder="Número Telefónico"></ion-input>
        </ion-item>
        <ion-note *ngIf="!registerForm.controls['phoneNumber']?.valid && registerForm.controls['phoneNumber']?.touched" color="danger">
          El número telefónico debe contener 11 dígitos.
        </ion-note>

        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input type="text" required [(ngModel)]="registerData.name" name="name" placeholder="Nombre Completo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input type="email" required pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$" [(ngModel)]="registerData.email" name="email" placeholder="Correo Electrónico"></ion-input>
        </ion-item>
        <ion-note *ngIf="!registerForm.controls['email']?.valid && registerForm.controls['email']?.touched" color="danger">
          Por favor ingresa un correo electrónico válido.
        </ion-note>

        <ion-button expand="block" type="submit" color="primary" shape="round" class="custom-button">
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Registrarse
        </ion-button>
        
      </form>

      <!-- Alerta que se activará si falta algún dato -->
      <ion-alert
        id="alert-missing-fields"
        header="Datos incompletos"
        subHeader="Faltan campos obligatorios"
        message="Por favor, complete todos los campos antes de continuar."
        buttons="OK"
      ></ion-alert>
    </ion-card-content>
  </ion-card>
</ion-content>
